<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if title %}{{ title }} – {{ metadata[artist].name }}{% else %}{{ metadata.title }}{% endif %}</title>

	<meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">

	{% if eleventy.isProduction %}
		<style>
			{{ 'css/artrudloff.css' | inline_css_imports | minify_css }}
		</style>
	{% else %}
		<link rel="stylesheet" href="{{ '/css/artrudloff.css' | url }}">
	{% endif %}
</head>

<body>

	<header class="site-head">
		<a href="/" class="site-logo">
			<img
				src="/img/logo-{{ metadata[artist].slug }}.gif"
				alt="Der Name “{{ metadata[artist].name }}” in Handschrift"
			>
		</a>

		<div class="nav">
			{% include '_includes/toggle-button', class: 'nav-toggle-button' %}

			<nav class="nav-content">
				{%- for link in metadata[artist].links -%}
					<a class="nav-item" href="{{ link.url }}">
						{{ link.text }}
						{% if link.url == '/' %}<span class="visually-hidden">(Übersicht)</span>{% endif %}
					</a>
				{%- endfor -%}
			</nav>
		</div>
	</header>

	<main>
		<h1 {% if collection_name %}class="visually-hidden"{% endif %}>{{ title }}</h1>

		{{ content }}
	</main>

	{% if eleventy.isProduction %}
		<script defer>
			{%- capture script_content -%}
				{% include 'js/ImageGallery.js' %}
				{% include 'js/ToggleButton.js' %}
			{%- endcapture -%}

			{{ script_content | minify_js }}
		</script>
	{% else %}
		<script src="{{ '/js/ImageGallery.js' | url }}" defer></script>
		<script src="{{ '/js/ToggleButton.js' | url }}" defer></script>
	{% endif %}

</body>
</html>
