<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title }}{% else %}{{ metadata.title }}{% endif %}</title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">

  {% if eleventy.isProduction %}
    <style>
      {{ 'css/artrudloff.css' | resolve_css_imports | minify_css }}
    </style>
  {% else %}
    <link rel="stylesheet" href="{{ '/css/artrudloff.css' | url }}">
  {% endif %}
</head>

<body class="js-disabled">

  <header class="site-head">
    <a href="/" class="site-logo">
      <img
        src="/img/logo-{{ metadata[artist].slug }}.gif"
        alt="Der Name “{{ metadata[artist].name }}” in Handschrift"
      >
    </a>

    <nav class="site-nav">
      {%- for link in metadata[artist].links -%}
        <a class="site-nav__item" href="{{ link.url }}">
          {{ link.text }}
        </a>
      {%- endfor -%}
    </nav>
  </header>

  <main class="page-content">
    <div class="wrapper">
      {{ layoutContent }}
    </div>
  </main>

  {% if eleventy.isProduction %}
    <script defer>
      {%- capture script_content -%}
        {% include 'js/gallery.js' %}
      {%- endcapture -%}

      {{ script_content | minify_js }}
    </script>
  {% else %}
    <script src="{{ '/js/gallery.js' | url }}" defer></script>
  {% endif %}

</body>
</html>
